Repository urothis/nwn-module-DungeonEternalX: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Test:DisDex, Container:DisDex, Build Module, Deploy Module

Path conditions:
  Test:DisDex: any of: disdex.dockerfile, disdex/**/*
  Container:DisDex: any of: disdex.dockerfile, disdex/**/*
  Build Module: any of: nwserver.dockerfile, nasher.cfg, src/**/*
  Deploy Module: any of: nwserver.dockerfile, nasher.cfg, src/**/*

standardized
  .gitlab/ci/disdex.gitlab-ci.yml
Due: none

blackguard bull's strength fix
  src/nss/bg_bullstr.nss
Due: Build Module, Deploy Module

HiPS Update + NPC race update
  src/are/area053.are.json
  src/are/area054.are.json
  src/are/fact_6_castle.are.json
  src/are/ridgetown.are.json
  src/are/underdarkgolotha.are.json
  src/gic/acrystmoore.gic.json
  src/gic/area053.gic.json
  src/gic/area054.gic.json
  src/gic/ridgetown.gic.json
  src/git/acrystmoore.git.json
  src/git/acrystswamp.git.json
  src/git/area053.git.json
  src/git/area054.git.json
  src/git/fact_6_castle.git.json
  src/git/ridgetown.git.json
  src/git/underdarkgolotha.git.json
  src/ifo/module.ifo.json
  src/itp/creaturepalcus.itp.json
  src/nss/_inc_hipslimit.nss
  src/utc/creature001.utc.json
  src/utc/curstranger.utc.json
  src/utc/curstranger02.utc.json
  src/utc/drakulwarlock.utc.json
  src/utc/drakulwarlock002.utc.json
  src/utc/humanoid_shield.utc.json
  src/utc/vampire.utc.json
Due: Build Module, Deploy Module

ci changes, ready for dev branch module.
  .gitlab-ci.yml
  .gitlab/ci/dev-nwserver.gitlab-ci.yml
  .gitlab/ci/disdex.gitlab-ci.yml
  .gitlab/ci/prod-nwserver.gitlab-ci.yml
  disdex/main.go
  nwserver.dockerfile
  src/nss/_mod_shutdown.nss
Due: Test:DisDex, Container:DisDex, Build Module, Deploy Module

maybe
  .gitlab/ci/dev-nwserver.gitlab-ci.yml
  .gitlab/ci/disdex.gitlab-ci.yml
  .gitlab/ci/prod-nwserver.gitlab-ci.yml
Due: none

fml
  .gitlab/ci/disdex.gitlab-ci.yml
Due: none

.
  .gitlab/ci/dev-nwserver.gitlab-ci.yml
  .gitlab/ci/disdex.gitlab-ci.yml
  .gitlab/ci/prod-nwserver.gitlab-ci.yml
Due: none

one last fix hopefully
  .gitlab/ci/disdex.gitlab-ci.yml
Due: none

.
  .gitlab/ci/dev-nwserver.gitlab-ci.yml
  .gitlab/ci/prod-nwserver.gitlab-ci.yml
Due: none

.,
  .gitlab-ci.yml
Due: none

,.
  .gitlab-ci.yml
Due: none

removed unused dialog
  src/dlg/bounty_start.dlg.json
  src/dlg/celebrimbor.dlg.json
  src/dlg/commenman1.dlg.json
  src/dlg/easter_special.dlg.json
  src/dlg/intro_convo.dlg.json
  src/dlg/intro_convo_3.dlg.json
  src/dlg/killyougreat.dlg.json
  src/dlg/laughinggreet.dlg.json
  src/dlg/murrstalk.dlg.json
  src/dlg/new_player_test.dlg.json
  src/dlg/ogre_warning_c.dlg.json
  src/dlg/orc_warning_c.dlg.json
  src/dlg/outofhandgreet.dlg.json
  src/dlg/pvp_store.dlg.json
  src/dlg/russianchickgree.dlg.json
  src/dlg/ruvudumonk.dlg.json
  src/dlg/scarywomangreet.dlg.json
  src/dlg/sharconvo.dlg.json
  src/dlg/show_stat.dlg.json
  src/dlg/stonejumper.dlg.json
  src/dlg/succubusgreeteat.dlg.json
Due: Build Module, Deploy Module

bank correction. Should have fixed this sooner.
  src/nss/seed_bank.nss
Due: Build Module, Deploy Module

correction to !pi command
  src/nss/fky_chat_inc.nss
Due: Build Module, Deploy Module

test?
  .gitattributes
Due: none

test2
  .gitattributes
Due: none

night
  .gitattributes
Due: none

found the issue I think.
  nwserver.dockerfile
Due: Build Module, Deploy Module

correcting module path
  nwserver.dockerfile
Due: Build Module, Deploy Module

path again
  nwserver.dockerfile
Due: Build Module, Deploy Module

fixes for new image issues.
  .gitlab/ci/dev-nwserver.gitlab-ci.yml
  .gitlab/ci/prod-nwserver.gitlab-ci.yml
  nwserver.dockerfile
Due: Build Module, Deploy Module

oop
  src/nss/_leto_name.nss
Due: Build Module, Deploy Module

order matters
  .gitlab/ci/dev-nwserver.gitlab-ci.yml
Due: none

cleanup dockerfile
  nwserver.dockerfile
Due: Build Module, Deploy Module

updates to dockerfile and gitlab.
  .gitlab/ci/dev-nwserver.gitlab-ci.yml
  .gitlab/ci/prod-nwserver.gitlab-ci.yml
  nwserver.dockerfile
Due: Build Module, Deploy Module

corrects events issues.
  .gitlab/ci/prod-nwserver.gitlab-ci.yml
  nwserver.dockerfile
Due: Build Module, Deploy Module

please turn the log down
  .gitlab/ci/dev-nwserver.gitlab-ci.yml
  .gitlab/ci/prod-nwserver.gitlab-ci.yml
Due: none

new logging system. wip
  src/nss/_mod_log.nss
Due: Build Module, Deploy Module

update to webhook to remove whitespace
  src/nss/nwnx_webhook.nss
  src/nss/nwnx_webhook_rch.nss
Due: Build Module, Deploy Module

to keep current prod on the correct nwnxee version
  nwserver.dockerfile
Due: Build Module, Deploy Module

new toolset update, small system stuff.
  src/nss/_inc_hipslimit.nss
  src/nss/_mod_log.nss
  src/nss/armor_merchant.nss
  src/nss/armor_merchant_2.nss
  src/nss/nwnx_webhook_rch.nss
Due: Build Module, Deploy Module

lag fix
  server/nwnplayer.ini
Due: none

Nadia
  src/nss/nadia_heartbeat.nss
Due: Build Module, Deploy Module

Race update
  src/are/acrystmoore.are.json
  src/git/acrystmoore.git.json
  src/itp/creaturepalcus.itp.json
  src/utc/humanoid_shield.utc.json
Due: Build Module, Deploy Module

cleanup, organization
  src/nss/_mod_log.nss
  src/nss/_mod_player_chat.nss
  src/nss/core/core_const.nss
  src/nss/core/core_db_inc.nss
  src/nss/core/core_log.nss
Due: Build Module, Deploy Module
